<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="Movie">详情</title>
    <!--    <title>详情</title>-->
    <!--    "${movie.getTitle()}+-->
    <link rel="stylesheet" href="/css/movieInformation.css"/>
    <link rel="stylesheet" href="/css/all.css"/>
    <link href="/image/title.ico" rel="icon"/>
    <script src="/js/jquery-3.0.0.js"></script>
    <script src="/js/layer.js"></script>
</head>
<script src="/js/all.js"></script>
<script src="/js/home/home.js"></script>
<!--<script src="/js/information/movieInformation.js"></script>-->
<body><header th:include="header :: copy"></header>

<div class="all_content" style="">
    <main>
        <div class="">&nbsp;</div><div class="">&nbsp;</div><div class="">&nbsp;</div>
        <div style="...">
            <a class="movie_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a class="movie_font" th:href="'/search/movie/actors/'+${id}+'/'+${title}" th:text="电影评论">来自WSK的爱</a>
        </div>
        <div class="">&nbsp;</div><div class="">&nbsp;</div>
        <div th:with="s=${chat}">
            <div class="all_movie" th:each="t:${chat}">

                <div class="movie_cover">
                    <a class="movie_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <img th:src="${t.getImg()}" class="movie_img" alt="加载中......"/>
                </div>
                <div style="...">
                    <div class="">&nbsp;</div>
                    <div class="hot_comment_1">
                        <span style="color:#666666;">作者：</span>
                        <span th:text="${t.getAuthor()}" class="hot_comment_1_name">WSK</span>
                    </div>
                    <span th:text="${t.getTime()}+'   '+${t.getCredit()}" class="hot_comment_1_name">WSK</span>
                </div>
                <div class="">&nbsp;</div><div class="">&nbsp;</div>
                <div class="hot_comment_1">
                    <a class="movie_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <span style="color:#666666;">标题：</span>
                    <span th:text="${title}" class="hot_comment_1_name">WSK</span>
                </div>
                <div class="hot_comment_1">
                    <a class="movie_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <span style="color:#666666;">评论：</span>
                    <span th:text="${t.getDetail()}" class="hot_comment_1_name">WSK</span>
                </div>
                <div class="">&nbsp;</div><div class="">&nbsp;</div>
            </div>
        </div>

        <!--<div th:with="s=${image}">
            for(var i=0;i<${length};i++}){
            var img=s[i];
            <div class="movie_cover1">
                <img th:src=img class="movie_img" th:title="图片" alt="加载中......"/>
            </div>
            }
        </div>-->
    </main>
    <aside th:include="aside :: aside"></aside>

</div>
<footer>
    <div>
        <button class="go_to_top" value=""></button>
    </div>
</footer>
</body>
</html>